In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('ai_job_market_insights.csv')

In [7]:
df

,Job_Title,Industry,Company_Size,Location,AI_Adoption_Level,Automation_Risk,Required_Skills,Salary_USD,Remote_Friendly,Job_Growth_Projection
0,Cybersecurity Analyst,Entertainment,Small,Dubai,Medium,High,UX/UI Design,111392.165243,Yes,Growth
1,Marketing Specialist,Technology,Large,Singapore,Medium,High,Marketing,93792.562466,No,Decline
2,AI Researcher,Technology,Large,Singapore,Medium,High,UX/UI Design,107170.263069,Yes,Growth
3,Sales Manager,Retail,Small,Berlin,Low,High,Project Management,93027.953758,No,Growth
4,Cybersecurity Analyst,Entertainment,Small,Tokyo,Low,Low,JavaScript,87752.922171,Yes,Decline
...,...,...,...,...,...,...,...,...,...,...
495,Data Scientist,Telecommunications,Medium,Berlin,Low,Medium,Machine Learning,105821.394046,Yes,Stable
496,Cybersecurity Analyst,Telecommunications,Small,London,Low,High,UX/UI Design,119794.992146,No,Decline
497,Cybersecurity Analyst,Energy,Large,Dubai,High,Low,UX/UI Design,79644.933099,Yes,Stable
498,Operations Manager,Healthcare,Large,Paris,High,Low,Python,77642.150625,Yes,Stable
499,HR Manager,Entertainment,Medium,Berlin,Medium,High,Project Management,68764.378921,Yes,Decline

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Job_Title              500 non-null    object
 1   Industry               500 non-null    object
 2   Company_Size           500 non-null    object
 3   Location               500 non-null    object
 4   AI_Adoption_Level      500 non-null    object
 5   Automation_Risk        500 non-null    object
 6   Required_Skills        500 non-null    object
 7   Salary_USD             500 non-null    float64
 8   Remote_Friendly        500 non-null    object
 9   Job_Growth_Projection  500 non-null    object
dtypes: float64(1), object(9)
memory usage: 39.2+ KB

In [11]:
df.describe().round(2)

       Salary_USD
count      500.00
mean     91222.39
std      20504.29
min      31969.53
25%      78511.51
50%      91998.20
75%     103971.28
max     155209.82

In [13]:
df['Salary_USD'] = df['Salary_USD'].apply(lambda x: f"{x:,.2f}")

In [15]:
df

,Job_Title,Industry,Company_Size,Location,AI_Adoption_Level,Automation_Risk,Required_Skills,Salary_USD,Remote_Friendly,Job_Growth_Projection
0,Cybersecurity Analyst,Entertainment,Small,Dubai,Medium,High,UX/UI Design,"111,392.17",Yes,Growth
1,Marketing Specialist,Technology,Large,Singapore,Medium,High,Marketing,"93,792.56",No,Decline
2,AI Researcher,Technology,Large,Singapore,Medium,High,UX/UI Design,"107,170.26",Yes,Growth
3,Sales Manager,Retail,Small,Berlin,Low,High,Project Management,"93,027.95",No,Growth
4,Cybersecurity Analyst,Entertainment,Small,Tokyo,Low,Low,JavaScript,"87,752.92",Yes,Decline
...,...,...,...,...,...,...,...,...,...,...
495,Data Scientist,Telecommunications,Medium,Berlin,Low,Medium,Machine Learning,"105,821.39",Yes,Stable
496,Cybersecurity Analyst,Telecommunications,Small,London,Low,High,UX/UI Design,"119,794.99",No,Decline
497,Cybersecurity Analyst,Energy,Large,Dubai,High,Low,UX/UI Design,"79,644.93",Yes,Stable
498,Operations Manager,Healthcare,Large,Paris,High,Low,Python,"77,642.15",Yes,Stable
499,HR Manager,Entertainment,Medium,Berlin,Medium,High,Project Management,"68,764.38",Yes,Decline

In [19]:
df['Job_Title'].unique()

array(['Cybersecurity Analyst', 'Marketing Specialist', 'AI Researcher',
       'Sales Manager', 'UX Designer', 'HR Manager', 'Product Manager',
       'Software Engineer', 'Data Scientist', 'Operations Manager'],
      dtype=object)

In [21]:
def get_job_category(job_title):
    if job_title in ['Cybersecurity Analyst', 'AI Researcher', 'UX Designer', 'Software Engineer', 'Data Scientist']:
        return 'Technology & Engineering'
    elif job_title in ['Sales Manager', 'HR Manager', 'Product Manager', 'Operations Manager']:
        return 'Management'
    elif job_title == 'Marketing Specialist':
        return 'Marketing'
    else:
        return 'Unknown'  

df['Job_Category'] = df['Job_Title'].apply(get_job_category)

In [23]:
df

,Job_Title,Industry,Company_Size,Location,AI_Adoption_Level,Automation_Risk,Required_Skills,Salary_USD,Remote_Friendly,Job_Growth_Projection,Job_Category
0,Cybersecurity Analyst,Entertainment,Small,Dubai,Medium,High,UX/UI Design,"111,392.17",Yes,Growth,Technology & Engineering
1,Marketing Specialist,Technology,Large,Singapore,Medium,High,Marketing,"93,792.56",No,Decline,Marketing
2,AI Researcher,Technology,Large,Singapore,Medium,High,UX/UI Design,"107,170.26",Yes,Growth,Technology & Engineering
3,Sales Manager,Retail,Small,Berlin,Low,High,Project Management,"93,027.95",No,Growth,Management
4,Cybersecurity Analyst,Entertainment,Small,Tokyo,Low,Low,JavaScript,"87,752.92",Yes,Decline,Technology & Engineering
...,...,...,...,...,...,...,...,...,...,...,...
495,Data Scientist,Telecommunications,Medium,Berlin,Low,Medium,Machine Learning,"105,821.39",Yes,Stable,Technology & Engineering
496,Cybersecurity Analyst,Telecommunications,Small,London,Low,High,UX/UI Design,"119,794.99",No,Decline,Technology & Engineering
497,Cybersecurity Analyst,Energy,Large,Dubai,High,Low,UX/UI Design,"79,644.93",Yes,Stable,Technology & Engineering
498,Operations Manager,Healthcare,Large,Paris,High,Low,Python,"77,642.15",Yes,Stable,Management
499,HR Manager,Entertainment,Medium,Berlin,Medium,High,Project Management,"68,764.38",Yes,Decline,Management

In [25]:
df['Required_Skills'].unique()

array(['UX/UI Design', 'Marketing', 'Project Management', 'JavaScript',
       'Cybersecurity', 'Sales', 'Machine Learning', 'Python',
       'Data Analysis', 'Communication'], dtype=object)

In [27]:
df['Industry'].unique()

array(['Entertainment', 'Technology', 'Retail', 'Education', 'Finance',
       'Transportation', 'Telecommunications', 'Manufacturing',
       'Healthcare', 'Energy'], dtype=object)

In [29]:
df['Location'].unique()

array(['Dubai', 'Singapore', 'Berlin', 'Tokyo', 'San Francisco', 'London',
       'Paris', 'Sydney', 'New York', 'Toronto'], dtype=object)

In [33]:
def categorize_by_region(Location):
    if Location == 'Dubai':
        return 'Middle East'
    elif Location in ['Singapore', 'Tokyo']:
        return 'Asia'
    elif Location in ['Berlin', 'London', 'Paris', 'Sydney', 'Toronto']:
        return 'Europe'
    elif Location in ['New York', 'Toronto']:
        return 'North America'
    elif Location == 'Sydney':
        return 'Australia'
    else:
        return 'Unknown'

df['Region'] = df['Location'].apply(categorize_by_region)

In [35]:
df

,Job_Title,Industry,Company_Size,Location,AI_Adoption_Level,Automation_Risk,Required_Skills,Salary_USD,Remote_Friendly,Job_Growth_Projection,Job_Category,Region
0,Cybersecurity Analyst,Entertainment,Small,Dubai,Medium,High,UX/UI Design,"111,392.17",Yes,Growth,Technology & Engineering,Middle East
1,Marketing Specialist,Technology,Large,Singapore,Medium,High,Marketing,"93,792.56",No,Decline,Marketing,Asia
2,AI Researcher,Technology,Large,Singapore,Medium,High,UX/UI Design,"107,170.26",Yes,Growth,Technology & Engineering,Asia
3,Sales Manager,Retail,Small,Berlin,Low,High,Project Management,"93,027.95",No,Growth,Management,Europe
4,Cybersecurity Analyst,Entertainment,Small,Tokyo,Low,Low,JavaScript,"87,752.92",Yes,Decline,Technology & Engineering,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...
495,Data Scientist,Telecommunications,Medium,Berlin,Low,Medium,Machine Learning,"105,821.39",Yes,Stable,Technology & Engineering,Europe
496,Cybersecurity Analyst,Telecommunications,Small,London,Low,High,UX/UI Design,"119,794.99",No,Decline,Technology & Engineering,Europe
497,Cybersecurity Analyst,Energy,Large,Dubai,High,Low,UX/UI Design,"79,644.93",Yes,Stable,Technology & Engineering,Middle East
498,Operations Manager,Healthcare,Large,Paris,High,Low,Python,"77,642.15",Yes,Stable,Management,Europe
499,HR Manager,Entertainment,Medium,Berlin,Medium,High,Project Management,"68,764.38",Yes,Decline,Management,Europe

In [45]:
from IPython.display import FileLink

# Save the DataFrame to a CSV file
df.to_csv('cleaned_data.csv', index=False)

# Create a download link with full path
FileLink('cleaned_data.csv')

C:\Users\Carnival\cleaned_data.csv